@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blaka&family=Blaka+Hollow&family=Caveat:wght@400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Permanent+Marker&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  font-family: "Roboto Mono", monospace;
  position: relative;
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
} */

.web {
  background: #7f00ff;
  background: -webkit-linear-gradient(to right, #e100ff, #7f00ff);
  background: linear-gradient(to right, #e100ff, #7f00ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

nav {
  background: #40e0d0;
  background: -webkit-linear-gradient(to left, #ff0080, #ff8c00, #40e0d0);
  background: linear-gradient(to left, #ff0080, #ff8c00, #40e0d0);
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 10px; */
  padding: 1rem;
  /* margin-bottom: 40px; */
  display: none;
  /**/
}

.hello-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello-text img {
  width: 50px;
  margin-top: -14px;
}

.heading {
  font-family: "Blaka Hollow", cursive;
  /* font-family: 'Caveat', cursive; */
  /* font-family: 'Permanent Marker', cursive; */
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  font-weight: 400;
}

/* intro section */

.intro-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.sec-1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  margin: 10px auto;
}

.sec-2 img {
  display: block;
  height: calc(100vh - 15px);
  margin: 15px auto;
}

.dot {
  color: #7f00ff;
}

.style-hr {
  height: 10px;
  width: 100px;
  border-radius: 10px;
  margin: 10px auto;
  background: #8360c3;
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
  background: linear-gradient(to right, #2ebf91, #8360c3);
}

/* portfolio of websites */

.stylish-underline {
  position: relative;
  font-weight: 600;
}

.stylish-underline::after {
  background-image: url("/images/underline-2.png");
  background-repeat: no-repeat;
  background-size: 88% 80%;
  content: "";
  display: block;
  height: 1.2em;
  left: 0.2em;
  /* left: -0.2em; */
  position: absolute;
  /* top: calc(100% - 0.01rem); */
  width: calc(100% + 2em);
  top: 30px;
}

.portfolio-heading {
  text-align: center;
  padding: 3rem 3rem 2.5rem 3rem;
}

.grid-wrapper {
  display: grid;
  gap: 3rem;
  /* grid-row-gap: 3rem; */
  margin: 2% 10%;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem 0;
}

.grid-wrapper-icons {
  display: grid;
  gap: 3rem;
  margin: 1rem 15%;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem 0;
}

.grid-wrapper-icons .img-sec {
  display: block;
  margin: auto;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1.2rem;
  border-radius: 50%;
}

.grid-wrapper-icons .img-sec img {
  width: 100%;
  height: 4rem;
}

.item {
  width: calc(100% - 50px);
  height: 65px;
  background: #7f00ff;
  background: -webkit-linear-gradient(to left, #e100ff, #7f00ff);
  background: linear-gradient(to left, #e100ff, #7f00ff);
  padding: 10px;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  text-transform: capitalize;
  text-align: center;
}

.item:hover {
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.odd {
  display: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 6px;
  margin: 4rem auto 1rem auto;
  font-size: 1.1rem;
}

.ui {
  background: #40e0d0;
  background: -webkit-linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
  background: linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
  border-radius: 5px;
  padding: 3px 7px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 10px;
}

.rizwan {
  text-decoration: underline;
}

.rizwan a {
  color: black;
}

/* badges section */

.badges-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.badges-grid .badge img {
  width: 10rem;
}

.badges-grid .badge:nth-child(1) {
  margin-left: auto;
}

.gradient-img-1,
.gradient-img-2,
.gradient-img-3 {
  position: absolute;
  width: 150px;
  z-index: -2;
}

.gradient-img-1 {
  bottom: 120px;
  right: 40px;
}

.gradient-img-2 {
  display: none;
  top: 130px;
  left: 75px;
}

.gradient-img-3 {
  bottom: 20px;
  left: 32px;
}

.social-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  top: 42vh;
  left: 25px;
  z-index: 3;
}

.social-links a svg {
  font-size: 28px;
  color: #7f00ff;
}

.fa-brands {
  background: #ff00cc;
  background: -webkit-linear-gradient(to bottom, #333399, #ff00cc);
  background: linear-gradient(to bottom, #333399, #ff00cc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site-version span {
  background: #8360c3;
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
  background: linear-gradient(to right, #2ebf91, #8360c3);
  padding: 2px 6px;
  border-top-left-radius: 6px;
  color: white;
}

.site-version {
  display: flex;
  justify-content: end;
  align-items: center;
}

@media only screen and (max-width: 1030px) {
  .footer {
    margin: 5.5rem auto 1rem auto;
  }
}

.fa-heart {
  color: red;
}

@media only screen and (max-width: 820px) {
  .grid-wrapper,
  .grid-wrapper-icons {
    grid-template-columns: 1fr 1fr;
  }

  .odd {
    display: inherit;
  }
}

@media only screen and (max-width: 825px) {
  .sec-2 img {
    width: 50vw;
    height: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
  }

  .grid-wrapper-icons {
    margin-bottom: 2.5rem;
  }

  .social-links {
    left: 10px;
  }

  .intro-section {
    grid-template-columns: 1fr;
  }

  .intro-section .sec-1 {
    align-items: center;
    margin: 1rem 0;
  }

  .intro-section .sec-2 img {
    height: 100%;
    display: block;
    margin: 30px auto;
    /* border-radius: 10px; */
    width: 100%;
  }

  .badges-grid {
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
  }

  .badges-grid .badge {
    display: block;
    margin: 1rem auto;
  }
}

@media only screen and (max-width: 500px) {
  .gradient-img-1,
  .gradient-img-3 {
    width: 60px;
  }

  .gradient-img-1 {
    width: 100px;
    bottom: 59px;
    right: 20px;
  }

  .gradient-img-2 {
    width: 100px;
    left: 30px;
  }

  .gradient-img-2 {
    top: 250px;
  }

  .gradient-img-3 {
    width: 95px;
    bottom: 270px;
    left: 28px;
  }
}
